<div class="row">
<div class="container">
  <div class="formulario-contacto row">
    <div class="col-md-8">
      <p>Dejanso tu correo electronico para informarte sobre nuestras novedades.</p>
      <form action="sendmail.php" method="POST">
        <label for="email">Email</label>
        <input type="text" name="email" id="email">
        <button>recibir actualizaciones</button>
      </form>
    </div>
    <div class="col-md-4">
      <p>email:karen@garabatoregalos.com</p>
      <p>whatsapp:3197337173</p>

    </div>
  </div>
  <app-social-media></app-social-media>
</div>
</div>
