.footer {
    background: #000000fa;
    font-size: 15px;
    color: rgb(185, 198, 1);
}

.formulario-contacto .row {
    padding: 10px;
}

app-footer img {
    width: 110px;
}

.formulario-contacto .col-md-8,
.datos-contacto {
    padding: 20px;
}

form>* {
    padding: 7px;
    font-size: 15px;
    margin: 5px;
    /* border: thin solid white; */
}

#mc_embed_signup[_ngcontent-c3] {
    background: #040404;
    clear: left;
    font: 15px;
    width: 100%;
    color: white;
}

.mensaje-formulario {
    text-align: center;
}

span.navbar-text {
    padding: 8px;
    color: white;
    /* background: black; */
    filter: invert(90%);
}