<div class="row footer">
    <div class="container">
        <div class="formulario-contacto row">
            <div class="col-md-8">
                <p class="mensaje-formulario">Dejanos tu correo electronico para informarte sobre nuestras novedades.</p>
                <!-- Begin Mailchimp Signup Form -->
                <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">

                <div id="mc_embed_signup">
                    <form action="https://garabatoregalos.us20.list-manage.com/subscribe/post?u=fbf4d136a0cd8dda11a4a2c90&amp;id=f5406235d4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">
                            <label for="mce-EMAIL">Suscripción</label>
                            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_fbf4d136a0cd8dda11a4a2c90_f5406235d4" tabindex="-1" value=""></div>
                            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                        </div>
                    </form>
                </div>

                <!--End mc_embed_signup-->
            </div>
            <div class="col-md-4 datos-contacto">
                <p><b>Información</b></p>
                <p>email:karen@garabatoregalos.com</p>
                <p>Whatsapp: 3197337173</p>
                <p>Envios dentro de bogota sin costo.</p>
            </div>
        </div>
        <app-social-media></app-social-media>
    </div>

</div>