
<div class="container">

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" *ngIf="photoArray">

  <div class="carousel-inner">
    <div class="carousel-item "  *ngFor="let photo of photoArray; index as i" [ngClass]="{'active' : i == 0}" >
      <img class="d-block w-100" src="assets/img/{{photo}}" alt="First slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div *ngIf="photoArray.length <2">
  <img class="d-block w-100" src="assets/img/{{photoArray[0]}}" alt="unique">
</div>

</div>
