<app-g-navigation>
  </app-g-navigation>

  <div class="row" >
      <div class="container lista-productos sticky-top">
        <h2 class="text-center" style="font-weight:bold;"> Contacto</h2>

        <div class="row" >

          <div class="col-sm-4">
vertical_align_bottom
          </div>
          <div class="col-sm-8">
            <p>
              Horarios de atención:
              De lunes a sábado de 10am a 11:30am y de 12:30pm a 7PM
              Domingos de 10am a 5pm (Noviembre y Diciembre)
              Tienda de Diseño</p>



              <p>
                  ——–
                  Información de productos y pedidos Tienda DiCreem Bogotá / Colombia
                  holabogota@dicreem.com
                  (1) 53008431 / (+57) 3209212972
              </p>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
