/* Master Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}

body {
  margin: 2em;
  color: rgb(0, 0, 0) !important;
  /* font-family: 'Montserrat', sans-serif;*/
  font-family: 'Roboto', sans-serif;
  transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
  content: '';
  background-image: url(assets/img/fondo.png);
  background-color: #a9a6a612;
}

a {
  color: rgb(185, 198, 1);

  cursor: pointer;
  cursor: hand;
}
button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}



/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}
