<div class=" navigation container d-none d-lg-block d-xl-block">
    <div class="row 	">
        <div class="col-sm-5 menu-izq row arrow_box2">
            <div class="menu-link col-sm-6 text-center link-alcancias">
                <a routerLink="/alcancias/2">Alcancias</a></div>
            <div class="menu-link col-sm-6 text-center link-materas">
                <a routerLink="/materas/6">Materas</a></div>
        </div>
        <div class="col-sm-2 text-center">
          <div  class="logo-nav">
            <a routerLink="/dashboard" routerLinkActive="active">
                <img src="assets/img/skull.png" alt="logo garabatos"><br> <h1> Garabato<br> Regalos</h1>
            </a>
          </div>
        </div>
        <div class="col-sm-5 menu-der row arrow_box_r2">
            <div class="menu-link col-sm-6 text-center link-portalapices">
                <a routerLink="/portalapices/7">Portalapices</a></div>
            <div class="menu-link col-sm-6 text-center link-otros">
                <a routerLink="/otros/4">Otros</a></div>
        </div>
    </div>




</div>

    <!--menu mobil-->
    <div class="d-lg-none d-xl-none">
      <nav class="navbar  navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
         Garabato regalos
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" routerLink="/alcancias/2">Alcancias <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/materas/6">Materas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  routerLink="/portalapices/7">Portalapices</a>
            </li>
                 <li class="nav-item">
              <a class="nav-link" routerLink="/otros/4">Otros</a>
            </li>
          </ul>
        </div>

      </nav>
    </div>
      <!-- fin menu mobil
      -->
