/* Navigation link styles */
.menu-izq .row, .menu-der .row{
  transform: skew(20deg);
}
app-g-navigation a {
    text-decoration: none;
    margin-right: 10px;
    display: inline-block;
    font-family: 'Rock Salt', cursive;
  }
app-g-navigation{
    font-family: 'Rock Salt', cursive;
}
.logo-nav img {
  height: 80px;
  margin-top: 7px;
}
.col-sm-4.logo-nav.text-center {
  background: black;
  transform: skew(20deg);
  background: #000000c4;
    -webkit-transform: skew(20deg);
    transform: skew(20deg);
    box-shadow: #00000091 2px 3px 23px 5px;
}
.menu-link {
  margin: 47px 0px 0px 0px;
  background: black;
  padding: 10px 0px;
  font-family: 'Rock Salt', cursive;
}
  nav span a {
    padding: 10px;
    margin: 2px;
}

.navigation .row{
  transform: skew(20deg);
}




