<div class="row navigation">
  <div class="col-sm-4 menu-izq row">
    <div class="menu-link col-sm-6 text-center">
      <a routerLink="/alcancias/11" >Alcancias</a></div>
    <div class="menu-link col-sm-6 text-center">
      <a routerLink="/materas/12">Materas</a></div>
  </div>
  <div class="col-sm-4 logo-nav text-center">
    <a routerLink="/dashboard" routerLinkActive="active">
      <img src="assets/img/skull.png" alt="logo garabatos">
      Garabato Regalos
    </a></div>
  <div class="col-sm-4 menu-der row">
    <div class="menu-link col-sm-6 text-center">
      <a routerLink="/portalapices/13" >Portalapices</a></div>
    <div class="menu-link col-sm-6 text-center">
      <a routerLink="/otros/14" >Otros</a></div>
  </div>

</div>
