<div class="row navigation">
  <div class="col-sm-4 menu-izq row">
    <div class="menu-link col-sm-6 text-center">
      <a routerLink="/categoria/11">Alcancias</a></div>
    <div class="menu-link col-sm-6 text-center"> <a routerLink="/categoria/2">Materas</a></div>
  </div>
  <div class="col-sm-4 logo-nav text-center">
    <a routerLink="/dashboard">
      <img src="assets/img/skull.png" alt="logo garabatos"><br>
      Garabato Regalos
    </a></div>
  <div class="col-sm-4 menu-der row">
    <div class="menu-link col-sm-6 text-center"><a routerLink="/categoria/3">Portalapices</a></div>
    <div class="menu-link col-sm-6 text-center"> <a routerLink="/categoria/4">Otros</a></div>
  </div>
 
</div>
