/* AppComponent's private CSS styles */
.navigation .row {
  padding: 0px;
  font-family: 'Rock Salt', cursive;
}
h1 {
  font-size: 1.2em;
  color: #999;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
  font-family: 'Rock Salt', cursive;
}
nav a:visited, a:link {
  color: #039be5;
      text-decoration: none;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
      text-decoration: none;
}
nav a.active {
  color: #039be5;
}
div#carouselExampleIndicators {
  background: black;
}

a:hover {
    color: #039be5 !important;
    text-decoration: none !important;
}