<!-- -->
<app-destacados></app-destacados>
<app-g-navigation></app-g-navigation>


<!--
<section class="strips" *ngIf="posts">

    <app-strip titulo="Garabato Regalos" productos="">
        <div title>
            <h1 class="strip__title" data-name="Lorem" #stripTitle>Garabato Regalos</h1>
        </div>
        <div body>
            <p>aqui va el contenido personalidado por ng-content</p>
            <img src="assets/img/skull.png" width="40%" alt="logo garabatos">
        </div>
    </app-strip>
    <app-strip titulo="Alcancias">
        <div title>
            <h2 class="strip__title" data-name="Lorem" #stripTitle>Alcancias</h2>
        </div>
        <div body>
            <div *ngIf="posts">
                <img *ngFor="let producto of posts[0]" src="{{producto.acf.imagen1.sizes.medium }}">
            </div>
        </div>
    </app-strip>
    <app-strip titulo="Materas">
        <div title>
            <h2 class="strip__title" data-name="Lorem" #stripTitle>Materas</h2>
        </div>
        <div body>
            <div *ngIf="posts">
                <img *ngFor="let producto of posts[1]" src="{{producto.acf.imagen1.sizes.medium }}">
            </div>
        </div>
    </app-strip>
    <app-strip titulo="Portalapices">
        <div title>
            <h2 class="strip__title" data-name="Lorem" #stripTitle>Portalapices</h2>
        </div>
        <div body>
            <div *ngIf="posts">
                <img *ngFor="let producto of posts[2]" src="{{producto.acf.imagen1.sizes.medium }}">
            </div>
        </div>
    </app-strip>
    <app-strip titulo="Otros">
        <div title>
            <h2 class="strip__title" data-name="Lorem" #stripTitle>Otros</h2>
        </div>
        <div body>
            <div *ngIf="posts">
                <img *ngFor="let producto of posts[3]" src="{{producto.acf.imagen1.sizes.medium }}">
            </div>
        </div>
    </app-strip>


</section>

 -->
<!--
<div class="container">
<div class="row grid grid-pad clearfix">

  <div *ngFor="let hero of heroes;let i = $index" class="row col-sm-12">

    <div class="categoria-contenedor " [class]="hero.name">
      <h3>{{hero.name}}</h3>

      <div class="col-sm-6 imagen-principal-categoria" >
        <img [src]="'assets/img/'+hero.imagen" class="img-fluid" alt="imagen principal categoria">
      </div>
      <div class="col-sm-6 descripcion-categoria" >
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Risus pretium quam vulputate dignissim. Est ante in nibh mauris. Arcu odio ut sem nulla
          pharetra diam sit amet. Tellus in metus vulputate eu scelerisque. Massa ultricies mi quis hendrerit dolor
          magna eget est. Quis enim lobortis scelerisque fermentum. Ullamcorper dignissim cras tincidunt lobortis
          feugiat vivamus at augue eget. Mauris cursus mattis molestie a. Ipsum suspendisse ultrices gravida dictum
          fusce ut placerat. Morbi tempus iaculis urna id. Lacus sed turpis tincidunt id aliquet risus. Ut enim blandit
        </p>
        <button routerLink="/categoria/{{hero.id}}">Ver Productos de {{hero.name}}</button>
      </div>
    </div>
  </div>
</div></div>-->
