<app-g-navigation>
</app-g-navigation>
<app-destacados></app-destacados>




<div class="row">
    <div class="container lista-productos sticky-top">
        <h1 class="text-center" style="font-weight:bold;">Nuestros Productos</h1>
        <div>
            <h3 class="menu-productos" (click)="setCategory(0)" [class.active]="isActiveUrl(0)">Todos</h3>
            <h3 class="menu-productos" (click)="setCategory('Alcancia')" [class.active]="isActiveUrl('Alcancia')">Alcancias</h3>
            <h3 class="menu-productos" (click)="setCategory('Matera')" [class.active]="isActiveUrl('Matera')">Materas</h3>
            <h3 class="menu-productos" (click)="setCategory('Portalapices')" [class.active]="isActiveUrl('Portalapices')">Portalapices</h3>
            <h3 class="menu-productos" (click)="setCategory('Otros')" [class.active]="isActiveUrl('Otros')">Otros</h3>
        </div>
        <div class="row" *ngIf="productosCategoria">
            <div *ngFor="let producto of productosCategoria | filterCategoria:filtroCategoria " class="col-sm-4 producto" data-aos="fade-up" data-aos-offset="100" data-aos-easing="ease-in-sine">
                <div class="imagen-producto" (click)="selectProductHandler(producto)">
                    <img src="{{mediaUrl}}{{producto.imagen}}" alt="{{producto.descripcion}}" class="product-image" data-toggle="modal" data-target="#exampleModal">
                    <div class="slider-image-div" *ngIf="producto.destacado"></div>
                    <div class="precio hidden">
                        $ {{producto.precio|number}} X unidad
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
<!-- Modal -->
<div data-aos="fade-up-left" class="modal fade in" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content container-fluid" *ngIf="selectedProduct">
            <div class="modal-header bg-dark">
                <h5 class="modal-title text-center" id="exampleModalLongTitle">{{selectedProduct.titulo}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body container row">
                <div class="col-sm-7">
                    <div style="max-height:550px">
                        <div id="carouselExampleIndicatorsmodal" class="carousel slide" data-ride="carousel">

                            <div class="carousel-inner">
                                <div class="carousel-item active" *ngIf="selectedProduct.imagen">
                                    <img class="imagen-slider" src="{{mediaUrl}}{{selectedProduct.imagen}}" alt="First slide">
                                    <div class="slider-image-div" *ngIf="selectedProduct.destacado"></div>
                                </div>
                                <div class="carousel-item " *ngIf="selectedProduct.imagen2">
                                    <img class="imagen-slider" src="{{mediaUrl}}{{selectedProduct.imagen2}}" alt="second slide">
                                </div>
                                <div class="carousel-item " *ngIf="selectedProduct.imagen3">
                                    <img class="imagen-slider" src="{{mediaUrl}}{{selectedProduct.imagen3}}" alt="third slide">
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicatorsmodal" role="button" data-slide="prev" *ngIf="selectedProduct.imagen2">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicatorsmodal" role="button" data-slide="next" *ngIf="selectedProduct.imagen2">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5 text-center text-bottom">

                    <div class="description" *ngIf="selectedProduct.descripcion">
                        {{selectedProduct.descripcion}}
                    </div>
                    <br>
                    <div class="description">
                        <p>Este producto ha sido pintado a mano usando pinturas acrilicas de primera calidad, asi como resinas epoxicas para aumentar tu durabilidad y facilitar su limpieza.
                        </p>
                    </div>
                    <div class="modal-price bg-dark" *ngIf="selectedProduct.precio">
                        $ {{selectedProduct.precio}} X unidad
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="price-tag"></div>
            </div>
        </div>
    </div>
</div>