<app-g-navigation>
</app-g-navigation>
<app-destacados></app-destacados>




<div class="row">
    <div class="container lista-productos sticky-top">
        <h1 class="text-center" style="font-weight:bold;">Nuestros Productos</h1>
        <div>
            <h3 class="menu-productos" (click)="setCategory(0)" [class.active]="isActiveUrl(0)">Todos</h3>
            <h3 class="menu-productos" (click)="setCategory('Alcancia')" [class.active]="isActiveUrl('Alcancia')">Alcancias</h3>
            <h3 class="menu-productos" (click)="setCategory('Materas')" [class.active]="isActiveUrl('Materas')">Materas</h3>
            <h3 class="menu-productos" (click)="setCategory('Portalapices')" [class.active]="isActiveUrl('Portalapices')">Portalapices</h3>
            <h3 class="menu-productos" (click)="setCategory('Otros')" [class.active]="isActiveUrl('Otros')">Otros</h3>
        </div>
        <div class="row grid" *ngIf="productosCategoria" data-masonry='{ "itemSelector": ".producto", "columnWidth": 200 }'>
            <div *ngFor="let producto of productosCategoria | filterCategoria:filtroCategoria " class="col-sm-4 producto" data-aos="fade-up" data-aos-offset="10" data-aos-easing="ease-in-sine">
                <a routerLink="/detalle/{{producto.id}}/{{slugify(producto.titulo)}}">
                    <div class="imagen-producto" (click)="selectProductHandler(producto)">
                        <img src="{{mediaUrl}}{{producto.imagen}}" alt="{{producto.descripcion}}" class="product-image">

                        <div class="precio ">
                            $ {{producto.precio|number}} X unidad
                        </div>
                    </div>
                </a>

            </div>
        </div>
        <div class="row" *ngIf="!productosCategoria">
            <div class="container text-center" style="padding:200px">
                <app-spinner></app-spinner>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>

<app-garabato-modal [selectedProduct]="selectedProduct"></app-garabato-modal>
